* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	font: 85% Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	color: #000;
	background: #fff;
}
html, body, #wrapper, #dialpad {
	height: 100%;
}
/* core */
#wrapper {
	position: relative;
	min-width: 240px;
	min-height: 320px;
	text-align: center;
}
#welcome {
	/* display: none; */
	position: absolute;
	left: 50%;
	top: 50%;
	width: 216px;
	height: 216px;
	margin: -109px 0 0 -109px;
	border: solid 1px #000;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	background: url(../img/logo.png) no-repeat 50% 50%;
}
#welcome h2 {
	margin: 15px 0 0;
	font-size: 16px;
	color: #000;
}
#welcome p {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0 0 15px;
	font-size: 14px;
}
