* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	font: 100% Arial, Helvetica, sans-serif;
	color: #000;
	background: #fff;
}
/* core */
html, body, #wrapper, #container, #dialpad {
	height: 100%;
}
#wrapper {
	text-align: center;
}
#wrapper, #container {
	min-width: 240px;
	min-height: 320px;
}
#dialpad {
	min-height: 320px;
}
#container, #dialpad {
	position: relative;
}
#container {
	visibility: hidden;
}
#welcome {
	/* display: none; */
	position: absolute;
	left: 50%;
	top: 50%;
	width: 216px;
	height: 216px;
	margin: -109px 0 0 -109px;
	border: solid 1px #000;
	border-radius: 10px;
	overflow: hidden;
	background: url(../img/logo.png) no-repeat 50% 50%;
}
#welcome h2 {
	margin: 15px 0 0;
	font-size: 16px;
	color: #000;
}
#welcome p {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0 0 15px;
	font-size: 14px;
}
/* decor */
#sky, #ground, #dialpad > input, #dialpad > div:last-child {
	height: 14%;
}
#sky, #ground {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: -1;
}
#sky {
	top: 0;
	background: #64a2d3;
	border-bottom: 5px solid #005CA9;
}
#ground {
	bottom: 0;
	background: #005CA9;
}
/* center block */
#dialpad {
	display: inline-block;
	font-size: 1.5em;
	color: #02579A;
}
#dialpad > input {
	width: 140%;
	margin: 0 -20% 0.4em;
	border: 0;
	outline: none;
	text-align: center;
	color: #fff;
	background: transparent;
}
#dialpad > div:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
	font-size: 0;
}
#dialpad > div > .btn:first-child {
	margin-left: 0;
}
#dialpad > div:last-child {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #005CA9;
}
#dialpad > div:last-child > .btn {
	margin-top: 0;
}
/* btns */
.btn:active {
	background: #ddd;
}
.btn > img {
	width: 90%;
	margin: 5% 0 0;
}
.plus {
	line-height: 100%;
}
.plus > span {
	position: relative;
	top: -0.8em;
	font-size: 0.6em;
	font-weight: normal;
}
.add, .del {
	background: transparent;
	border-color: transparent;
}
.call {
	position: relative;
	top: -20px;
}